{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    {% if user.is_authenticated %}
    <div>
        <h6>New Post</h6>
        <form action="{% url 'newPost' %} " method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="What you thinking" name="newPost">
            <input type="file" name="image">
            <input type="submit" value="Post">
        </form>
    </div>
    {% endif %}
    {% for post in posts %}
    <div>
        <a href="{% url 'profile' post.user%} ">
            <strong>{{post.user}} </strong>
        </a>
        <hr>
        {% if post.image %}
        <img src="{{post.image.url}} " style="width: 200px;">
        {% endif %}
        <p>{{post.post}} </p>
        <p>{{post.date}} </p>
        <p>Likes: {{post.postLike}} </p>
    </div>
    {% empty %}
    <p>there are no posts yet</p>
    {% endfor %}
{% endblock %}